@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Reem+Kufi+Ink&family=Roboto:wght@100;400&display=swap");
:root {
  --color-one: #071626;
  --color-two: #d4e4f5;
  --color-two-dark: #547eac;
  --color-three: #f68419;
  --color-three-dark: #be6009;
  --color-four-dark: rgb(59, 10, 73);
  --color-five: #f4ec8f;
  --color-six: #eceff1;
  --white: #f9f9f9;
  --off-white: #f7eeee;
}
