@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;400&display=swap");
:root {
  --color-one: #071626;
  --color-two: #d4e4f5;
  --color-three: rgb(246, 132, 25);
  --white: #f9f9f9;
  --off-white: #f7eeee;
}
