.folio {
  padding: 10px;
}
.descriptions,
.features {
  margin-top: 15px;
}
.more {
  font-size: 11px;
  cursor: pointer;
  letter-spacing: 2px;
  color: var(--color-three);
}
.bullet {
  color: var(--color-two-dark);
  font-size: 12px;
  margin-top: 5px;
}
ul.featuresUl {
  margin-left: 0;
  padding-left: 0;
}
.featureItem {
  font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: start;
  margin-top: -10px;
}
.thumbnail,
.thumbnailBig {
  object-fit: cover;
  object-position: top;
  border: 1px solid var(--color-two);
  padding: 3px;
  border-radius: 10px;
  height: 10vh;
}
.thumbnailBig {
  height: 45vh;
}
.thumbnailItem {
  font-size: 12px;
}
.link {
  font-family: "Reem Kufi Ink", sans-serif;
  color: var(--color-four);
  font-size: 14px;
  /* padding: 15px; */
}
.link:hover {
  color: var(--color-four-dark);
}
